{% extends "common/base.html" %}

{% block title %}
<title>Waves theater | Movie Details</title>
{% endblock %}

{% block content %}

<div class="media">
  <div class="media-left">
    <a href="#">
      <div class="imgbox">
        <img class="center-fit" src="{{ MEDIA_URL }}/media/{{ show_info.image }}" alt="{{ show_info.name }}">
      </div>
    </a>
  </div>
  <br>
  <div class="media-body form-horizontal">
    <h4 class="media-heading">{{ show_info.name }}</h4>
    <div class="form-group">
      <label class="col-sm-2 control-label">Director</label><br>
      <div class="col-sm-10">
        <p class="form-control-static">{{ show_info.director }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Language</label><br>
      <div class="col-sm-10">
        <p class="form-control-static">{{ show_info.language }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Runtime</label><br>
      <div class="col-sm-10">
        <p class="form-control-static">{{ show_info.run_length }} minutes</p>
      </div>
    </div>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Showings</h3>
  </div>
  <div class="panel-body">
    {% for showing in showing_list %}
    <div class="media">
      <div class="media-body">
        <ul>
          <li><a href="{% url 'reserve_seat' showing.id %}" style="margin:15px;" role="button" class="btn btn-primary btn-sm">Buy Tickets</a> 
            {{ showing.datetime }} in {{ showing.theater }}</li>
        </ul>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
