{% extends "common/base.html" %}

{% block content %}

{% load static %}

<div class="media">
  <div class="media-left">
    <a href="#">
      <div class="imgbox">
        <img style="width: 100px" class="center-fit" src="{{ MEDIA_URL }}/media/{{ show_info.image }}" alt="{{ show_info.name }}">
      </div>
    </a>
  </div>
  <br>
  <div class="media-body form-horizontal">
    <h4 class="media-heading">{{ show_info.name }}</h4>
    <div class="form-group">
      <label class="col-sm-2 control-label">Director</label><br>
      <div class="col-sm-10">
        <p class="form-control-static">{{ show_info.director }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Language</label><br>
      <div class="col-sm-10">
        <p class="form-control-static">{{ show_info.language }}</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">Runtime</label><br>
      <div class="col-sm-10">
        <p class="form-control-static">{{ show_info.length }}</p>
      </div>
    </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Buy tickets</h3>
  </div>
  <div class="panel-body">

<script src="{% static 'js/SeatSelector.jsx' %}" type="text/babel"></script>
<script src="{% static 'js/Cart.jsx' %}" type="text/babel"></script>
<script src="{% static 'js/SeatingGrid.jsx' %}" type="text/babel"></script>

<form method='POST' action="{% url 'payment_gateway' %}">
  {% csrf_token %}
      <div id="checkout_app">
        Loading...
      </div>
    </form>

    <script type="text/babel">
      window.props = {{ props|safe }}
      
      'use strict'
      
      const checkoutDomContainer = document.querySelector('#checkout_app');
      ReactDOM.render(React.createElement(SeatSelector, window.props), checkoutDomContainer);
    </script>

  </div>
</div>

{% endblock %}