{% load static %}

<!DOCTYPE html>
<html>

<head>
  {% include 'common/head.html' %}
</head>

<body>

  {% include 'common/header.html' %}

  <div class="container theme-showcase" style="width:auto;" role="main">

    <div id="content" class="container-fluid">
      {% block content %}
      {% endblock %}

      <!--block styletags-->
      <!-- endblock -->
    </div>

    {% if request.path == '/' %}
    {% include 'common/footer.html' %}
    {% endif %}

</body>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
<script src="{% static 'javascript/docs.min.js' %}" +-></script>


</html>